<div class="banner">
  <div class="home-page-center">
    <%# <%= image_tag "books.jpg" class ="banner-image" %>
    <h1>BookSharing</h1>
    <h3>Don't be greedy, share your books</h3>
  </div>
</div>
