<h1>My Books Lists</h1>
<% @books.each do |book| %>
  <p> <%= link_to book.title, book_path(book) %> </p>
  <p> <%= link_to book.author, book_path(book) %> </p>
<% end %>

<%= link_to "create anew-book", new_book_path %>

