.reservation-heading {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}
.card-show{
  background-color: #161617;
  border-radius: 8px;
  padding: 10px;
  img {
    height: 100%;
    width: 100%;
  }
}

.info-box {
  padding: 10px 25px 10px 25px;
  color: white;
  border-radius: 5px;
  border-color:gray;
  border-style: solid;
  margin-bottom: 10px;
}

.synopsis{
  height: 150px;
}

.button-container{
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.custombutton{
  padding: 10px 25px 10px 25px;
  box-shadow: 0px 4px 22px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  text-decoration: none;
  color: white;

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
  }
}

.spookies{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
