.simple_form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  height: 50vh;
  color: white;
  margin-top: 4rem;
}

.form-actions input {
  color: white;
}
