.navbar-lewagon {
  justify-content: space-between;
  background: $black;

  a {
    text-decoration: none;
    color: $purple;
    font-size: 1.2rem;
    margin-right: 2rem;
  }
  img {
    background-color: $purple;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
