// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 30px 10px 30px;
  background-color: black;
  color: white;
  font-weight: bold;
  img{
    width: 20px;
height: 20px;
border-radius: 50%;
background-color: white;
object-fit: contain;
  }
}
